---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <section>
      <Hero />
    </section>
    <section class="mt-32">
      <Services />
    </section>
    <section class="mt-10">
      <Pricing />
    </section>
    <section>
      <Contact />
    </section>
  </main>
</Layout>
