---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <section>
      <Hero />
    </section>
    <section></section>
  </main>
</Layout>
