<section class="dark:bg-gray-800 dark:text-gray-100 bg-white">
  <div
    class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl"
  >
    <div>
      <h2
        class="text-3xl font-bold tracki text-center sm:text-5xl dark:text-gray-50"
      >
        Nuestros Servicios
      </h2>
      <p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-gray-400">
        A continuación se muestran los diferentes servicios que Lupy presta.
      </p>
    </div>
    <div class="grid lg:gap-10 lg:grid-cols-2 lg:items-center">
      <div>
        <h3 class="text-2xl font-bold tracki sm:text-3xl dark:text-gray-50">
          Landing Page
        </h3>
        <p class="mt-3 text-lg dark:text-gray-400">
          Página enfocada en un objetivo, diseñada para guiar a tus visitantes a
          convertirse en clientes. Contenido atractivo efectivo que generan
          ventas. ¡Potencia tus campañas de marketing! <br /> Nuestra página es una
          Landing Page
        </p>
        <div class="mt-12 space-y-12">
          <div class="flex">
            <div class="flex-shrink-0">
              <div
                class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-7 h-7"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h4
                class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
              >
                Rápida
              </h4>
              <p class="mt-2 dark:text-gray-400">
                El 70% de los usuarios en internet descartan una página web si
                esta no carga rápido, en Lupy velamos por el rendimiento de
                nuestros productos!
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex-shrink-0">
              <div
                class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-7 h-7"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h4
                class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
              >
                Flexibles
              </h4>
              <p class="mt-2 dark:text-gray-400">
                Los primeros 2 meses de entregado el producto, tendrá acceso
                GRATIS a cualquier modificación dentro de este.
              </p>
            </div>
          </div>
          <div class="flex">
            <div class="flex-shrink-0">
              <div
                class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-7 h-7"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"></path>
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h4
                class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
              >
                Responsive
              </h4>
              <p class="mt-2 dark:text-gray-400">
                Compatibles con cualquier dispositivo actual, desde celulares
                hasta computadores de escritorio
              </p>
            </div>
          </div>
        </div>
      </div>
      <div aria-hidden="true" class="mt-10 lg:mt-0">
        <img
          src="../../public/img/Responsive.svg"
          alt=""
          class="mx-auto rounded-lg shadow-lg dark:bg-gray-500"
        />
      </div>
    </div>
    <div>
      <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
        <div class="lg:col-start-2">
          <h3 class="text-2xl font-bold tracki sm:text-3xl dark:text-gray-50">
            Portafolio WEB Personal
          </h3>
          <p class="mt-3 text-lg dark:text-gray-400">
            Es momento de digitalizar tu Curriculum Vitae con un Portafolio Web,
            tu información profesinal en un sitio de internet.
          </p>
          <a
            href="https://porfolio-ignacio.vercel.app/"
            target="_blank"
            class="text-sky-500">Ejemplo aquí</a
          >
          <div class="mt-12 space-y-12">
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-7 h-7"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13l4 4L19 7"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
                >
                  Visibilidad
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Un portafolio online permite mostrar tu trabajo a cualquier
                  persona en el mundo con acceso a internet.
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-7 h-7"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13l4 4L19 7"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
                >
                  Experiencia y Credibilidad
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Impacta a posibles clientes o empleadores con la calidad de tu
                  trabajo.
                </p>
              </div>
            </div>
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-violet-400 dark:text-gray-900"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    class="w-7 h-7"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13l4 4L19 7"></path>
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium leadi dark:text-gray-50 text-[#ff8e3c]"
                >
                  Versatilidad
                </h4>
                <p class="mt-2 dark:text-gray-400">
                  Puedes personalizar tu portafolio web para resaltar
                  exactamente el tipo de trabajo que buscas o servicio que
                  ofreces.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
          <img
            src="../../public/img/Portfolio.svg"
            alt=""
            class="mx-auto rounded-lg shadow-lg dark:bg-gray-500"
          />
        </div>
      </div>
    </div>
  </div>
</section>
