---
interface Props {
  title: string;
}

const { title } = Astro.props;

// Supports weights 200-800
import "@fontsource-variable/manrope";
import "animate.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <meta name="generator" content={Astro.generator} />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script type="text/javascript">
      (function () {
        emailjs.init({
          publicKey: "LvnyNCCrqpx8nMK2z",
        });
      })();
    </script>

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Manrope Variable", sans-serif;
    background-color: #eff0f3;
  }
</style>
